
{% if isMapMarkerSrcPresent != true %}
<script>
function addMarker(map, geoJSONFeature, url){
    if( !map ) return;

    L.geoJSON(geoJSONFeature, {
        style: function (feature) {
            return {color: feature.properties.color};
        },
        pointToLayer: function(geoJSONPoint, latlng) {
            const geometryType = geoJSONFeature.geometry.type.toLower();
            switch( geometryType ) {
                case 'point':
                default:
                    return L.marker(latlng);
                    break;
            }
        }
    })
    .bindPopup(function (layer) {
        return
        `<div class="marker-content">
            <h5 class="marker-title"><a href="${url}" data-proofer-ignore >${ layer.feature.properties.name }</a></h5>
            <p class="marker-description">${ layer.feature.properties.description }</p>
        </div>`;
    })
    .on('mouseover', function (e) { this.openPopup(); })
    .addTo(map);

};
</script>
{% assign isMapMarkerSrcPresent = true %}
{% endif %}

<script>
addMarker(
    L.my_maps[ "{{ include.mapid }}" ],
    {{ include.geoJSONFeature | jsonify }},
    "{{ include.url | relative_url }}"
)
</script>
