<script>
((map, location, options, popup) => {
    if( !map ) return;

    L.marker(
        [ location.latitude, location.longitude ],
        options
    )
        .addTo( map )
        .bindPopup( popup.content )
        .on('click', function(e) { window.open( popup.url ,'_self'); } )
})(
    maps[ "{{ include.mapid }}" ],
    { "latitude": {{ include.location.latitude }}, "longitude": {{ include.location.longitude }} },
    {{ include.options | jsonify }},
    { "url": "{{ include.popup.url | relative_url }}", "content": "{{ include.popup.content }}" }
);
</script>